.login_container {
  min-height: 100vh;
  display: flex;
  background-color: bisque;
}

.login_row {
  flex-grow: 1;
}

.login_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: darkcyan;
}

.welcome_col {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.plate_img {
  object-fit: contain;
  height: 10rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}


.login_form { 
  margin-top: auto;
  margin-bottom: auto;
}

.locale_controls {
  button {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  margin: 1rem 0px;
  align-self: flex-end;
}

.country_flag {
  height: 1.5rem;
  object-fit: contain;
}