.footer {
  background-color:cadetblue;
  min-height: 15rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.footer_photo {
  width: 8rem;
  height: 8rem;
}

.footer_row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}