.login_container {
    background-image: url("../../../assets/person_swimming.avif");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_card {
    min-width: min(20rem, 90vw);
}